<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: solid 1px gray;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h2> {{ title }}</h2>
    <p> Description: <br>
        {{ description }}
    </p>
    <p> Max Grade: {{ max_grade }}
    </p>
    <table class="result_table">
            <tr>
                <th>Student</th>
                <th>Grade</th>
            </tr>
        {% for first, last, github, grade in student_grades %}
            <tr>
                <td><a href="/student?github={{ github }}">{{ first }} {{ last }}</a></td>
                <td>{{ grade }}</td>
            </tr>
        {% endfor %}
</body>
</html>
